// Media Quries for Base styles //
@media only screen and (min-width: 768px){
    .main-h1{
        font-size: 49px;
    }

    .main-p{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1024px){
    .main-h1{
        font-size: 55px;
    }

    .main-p{
        font-size: 30px;
    }
}