/* Navbar style */
.nav-container {
  background-color: rgb(160, 80, 80);
}

.navbar-div {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
  

.navbar-div a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-div a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-div .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-div a:not(:first-child) {
    display: none;
  }
  .navbar-div a.icon {
    float: right;
    display: block;
  }

  .navbar-div.responsive {
    position: relative;
  }
  .navbar-div.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-div.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
