/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(44, 42, 42);
    z-index: 100;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
